Node-Red/flows.json
[{"id":"12dc5703.e00ac9","type":"tab","label":"Wibeee","disabled":false,"info":""},
 {"id":"4a1bcf4d.5b955","type":"inject","z":"xxxxxxxxxxxxx","name":"","props":
  [{"p":"payload"},{"p":"topic","vt":"str"}],
  "repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":60,"wires":
  [["1c4b4f52.6f8dc1"]]},
 {"id":"1c4b4f52.6f8dc1","type":"http request","z":"12dc5703.e00ac9","name":"Wibeee Contador","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.168.x.x/en/status.xml","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":60,"wires":
  [["43b71a24.xxxxxx"]]},{"id":"b58da9a7.xxxxxx","type":"debug","z":"12dc5703.xxxxx","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":60,"wires":[]},{"id":"43b71a24.xxxxxx","type":"xml","z":"12dc5703.xxxxxx","name":"","property":"payload","attr":"","chr":"","x":510,"y":60,"wires":
  [["b58da9a7.xxxxxx","8a5b7611.xxxxxx"]]},{"id":"d003c7dd.xxxxxx","type":"influxdb out","z":"12dc5703.xxxxxx","influxdb":"360b2edc.xxxxxx","name":"Conexión BBDD","measurement":"Wibeee","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"Wibeee","bucket":"Wibeee","x":740,"y":280,"wires":[]},{"id":"fce1327c.xxxxxxx","type":"debug","z":"12dc5703.xxxxxxx","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":160,"wires":
  []},{"id":"8a5b7611.xxxxxx","type":"json","z":"12dc5703.xxxxxxx","name":"","property":"payload","action":"obj","pretty":true,"x":510,"y":160,"wires":[["fce1327c.xxxxxxx","86a843fa.xxxxxxx"]]},
 {"id":"c86edb90.xxxxxxx","type":"debug","z":"12dc5703.xxxxxxx","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":340,"wires":[]},{"id":"86a843fa.6exxx","type":"function","z":"12dc5703.xxxxxx","name":"","func":"wibeee={};
 \nwibeee.VOLTAJE=msg.payload.response.fase1_vrms[0];
 \nwibeee.INTENSIDAD=msg.payload.response.fase1_irms[0];
 \nwibeee.POTENCIA_APARENTE=msg.payload.response.fase1_p_aparent[0];
 \nwibeeecontador.POTENCIA_ACTIVA=msg.payload.response.fase1_p_activa[0];
 \nwibeee.POTENCIA_REACTIVA_INDUCTIVA=msg.payload.response.fase1_p_reactiva_ind[0];
 \nwibeee.POTENCIA_REACTIVA_CAPACITIVA=msg.payload.response.fase1_p_reactiva_cap[0];
 \nwibeee.FRECUENCIA=msg.payload.response.fase1_frecuencia[0];
 \nwibeee.FACTOR_POTENCIA=msg.payload.response.fase1_factor_potencia[0];
 \nwibeee.ENERGIA_ACTIVA=msg.payload.response.fase1_energia_activa[0];
 \nwibeee.ENERGIA_REACTIVA_INDUCTIVA=msg.payload.response.fase1_energia_reactiva_ind[0]*0.001;
 \nwibeee.ENERGIA_REACTIVA_CAPACITIVA=msg.payload.response.fase1_energia_reactiva_cap[0];
 \n\nmsg.payload=wibeee;
 \nreturn msg;","outputs":1,"noerr":0,"initialize":"",
 "finalize":"","libs":[],"x":500,"y":280,"wires":[["c86edb90.xxxxxxx","d003c7dd.xxxxxx"]]},
 {"id":"360b2edc.xxxxxx","type":"influxdb",
 "hostname":"192.168.x.x","port":"8086","protocol":"http","database":"Wibeee",
 "name":"InfluxDB 2.0","usetls":false,
 "tls":"93f3824b.xxxxx",
 "influxdbVersion":"2.0",
 "url":"http://192.168.x.x:8086/",
 "rejectUnauthorized":false},
 {"id":"93f3824b.10fc","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true}]
