Node-Red/flows_wibeee.json
[
    {
        "id": "b5dbb1afda123bcc",
        "type": "tab",
        "label": "Wibeee",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1e1cfda2110c69d8",
        "type": "inject",
        "z": "b5dbb1afda123bcc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "dd2ec7f6bdbdd2e1"
            ]
        ]
    },
    {
        "id": "dd2ec7f6bdbdd2e1",
        "type": "http request",
        "z": "b5dbb1afda123bcc",
        "name": "Wibeee (Circutor o Smilics)",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.1.3/en/status.xml",
        "tls": "",
        "persist": true,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 380,
        "y": 160,
        "wires": [
            [
                "4cc0cfeea916e535"
            ]
        ]
    },
    {
        "id": "c473c7f12ad1cece",
        "type": "debug",
        "z": "b5dbb1afda123bcc",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 220,
        "wires": []
    },
    {
        "id": "4cc0cfeea916e535",
        "type": "xml",
        "z": "b5dbb1afda123bcc",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 610,
        "y": 160,
        "wires": [
            [
                "c473c7f12ad1cece",
                "d2d2a5cfe3454d8b"
            ]
        ]
    },
    {
        "id": "fd28b58acf718f32",
        "type": "debug",
        "z": "b5dbb1afda123bcc",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1010,
        "y": 220,
        "wires": []
    },
    {
        "id": "d2d2a5cfe3454d8b",
        "type": "function",
        "z": "b5dbb1afda123bcc",
        "name": "Conversión Datos",
        "func": "wibeee={};\nwibeee.Voltaje=parseFloat(msg.payload.response.fase1_vrms[0]);\n// A continuación Debes continuar e implementar los datos que que recopile\n// tu dispositivo, depende del firmware msg.payload mostrará unos datos u otros.\n\nmsg.payload=wibeee;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 160,
        "wires": [
            [
                "fd28b58acf718f32",
                "26c04c9e55fba96c"
            ]
        ]
    },
    {
        "id": "26c04c9e55fba96c",
        "type": "influxdb out",
        "z": "b5dbb1afda123bcc",
        "influxdb": "",
        "name": "BBDD 1.8 o Superior",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "",
        "bucket": "",
        "x": 1060,
        "y": 160,
        "wires": []
    }
]