Node-Red/flows.json
[{"id":"f6f2187d.f17ca8","type":"tab","label":"SolaxPower SU5000E","disabled":false,"info":""},{"id":"12dc5703.e00ac9","type":"tab","label":"Wibeee Contador","disabled":false,"info":""},{"id":"eda76953.1caac8","type":"tab","label":"Wibeee Vivienda","disabled":false,"info":""},{"id":"baa1fb77.246f48","type":"tab","label":"eWelink","disabled":false,"info":""},{"id":"18ef1807.2380f8","type":"tab","label":"RedOS Calculadora","disabled":false,"info":""},{"id":"d242966d.d06cb8","type":"tab","label":"Wibeee Demo","disabled":true,"info":""},{"id":"4e0c3d56.b21ee4","type":"tab","label":"SolaxPower (Historial)","disabled":true,"info":""},{"id":"e7381735.2007b8","type":"tab","label":"Raspberry Tio","disabled":true,"info":""},{"id":"5c4ff4b6.e624cc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"93f3824b.10fc","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"535ad210.00c96c","type":"mui_tab","name":"Vivienda","icon":"Escritorio","disabled":false,"hidden":false},{"id":"c2b71dbf.b92dd","type":"mui_group","name":"eWelink","tab":"535ad210.00c96c","disp":true,"width":"6","collapse":false},{"id":"63072030.dc2a4","type":"mui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"m-base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"m-page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"m-page-backgroundColor":{"value":"#fafafa","edited":false},"m-page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"m-group-textColor":{"value":"#1bbfff","edited":false},"m-group-borderColor":{"value":"#ffffff","edited":false},"m-group-backgroundColor":{"value":"#ffffff","edited":false},"m-widget-textColor":{"value":"#111111","edited":false},"m-widget-backgroundColor":{"value":"#0094ce","edited":false},"m-widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"360b2edc.78f722","type":"influxdb","hostname":"192.168.1.104","port":"8086","protocol":"http","database":"SolaxPowerInfluxDB","name":"InfluxDB 2.0","usetls":false,"tls":"93f3824b.10fc","influxdbVersion":"2.0","url":"http://192.168.1.104:8086/","rejectUnauthorized":false},{"id":"618f842c.94184c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"dark"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9db81944.77e738","type":"ewelink-credentials"},{"id":"1890881e.83819","type":"ui_group","name":"Col1","tab":"c3173234.2636e","order":1,"disp":false,"width":"12","collapse":false},{"id":"34d9231c.b4396c","type":"mqtt-broker","name":"raspberry_mqtt","broker":"192.168.1.218","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"c3173234.2636e","type":"ui_tab","name":"RPi Control","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"760437d5.268b98","type":"mqtt-broker","name":"localhost broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5fea9c13.c15844","type":"tuyapi-cloud-configuration","name":"Configuration Name","key":"","secret":"","secret2":"","certSign":"","apiEtVersion":"0.0.1","region":"EU","email":"rubengameztorrijos@gmail.com","password":"Gatoru1984"},{"id":"cf58a362.488bc","type":"debug","z":"f6f2187d.f17ca8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":200,"wires":[]},{"id":"142a9dd4.aecbc2","type":"http request","z":"f6f2187d.f17ca8","name":"API Tiempo real","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.168.1.5/api/realTimeData.html","tls":"","persist":true,"proxy":"","authType":"","x":320,"y":80,"wires":[["bf5182bc.a9b25"]]},{"id":"b53bf667.647cc8","type":"function","z":"f6f2187d.f17ca8","name":"Conversión Datos Reales","func":"inversor={};\ninversor.PV1A=msg.payload.Data[0];\ninversor.PV2A=msg.payload.Data[1];\ninversor.PV1V=msg.payload.Data[2];\ninversor.PV2V=msg.payload.Data[3];\ninversor.AC_A=msg.payload.Data[4];\ninversor.AC_V=msg.payload.Data[5];\ninversor.AC_W_Inversor=msg.payload.Data[6];\ninversor.INVERSOR_TEMP=msg.payload.Data[7];\ninversor.KWh_Produccion_Hoy=msg.payload.Data[8];\ninversor.KWh_Produccion_Total=msg.payload.Data[9];\ninversor.AC_W_Exportada=msg.payload.Data[10];\ninversor.AC_W_Vivienda=msg.payload.Data[6]-msg.payload.Data[10];\ninversor.GananciasExcedentes=msg.payload.Data[10]*0.08;\ninversor.PV1W=msg.payload.Data[11];\ninversor.PV2W=msg.payload.Data[12];\ninversor.PV_Total_W=msg.payload.Data[11]+msg.payload.Data[12];\ninversor.BAT_DC_V=msg.payload.Data[13];\ninversor.BAT_DC_A=msg.payload.Data[14];\ninversor.BAT_DC_W=msg.payload.Data[15];\ninversor.BAT_TEMP=msg.payload.Data[16];\ninversor.BAT_Capacity=msg.payload.Data[17];\ninversor.Desconocido1=msg.payload.Data[18];\ninversor.BAT_KWh_Total=msg.payload.Data[19];\ninversor.Energia_a_Red=msg.payload.Data[41];\ninversor.Energia_de_Red=msg.payload.Data[42];\ninversor.AC_FREQ=msg.payload.Data[50];\ninversor.EPS_V_Voltaje=msg.payload.Data[53];\ninversor.EPS_A_Intensidad=msg.payload.Data[54];\ninversor.EPS_VA=msg.payload.Data[55];\ninversor.EPS_FREQ=msg.payload.Data[56];\ninversor.BMS_Perdido=msg.payload.Data[57];\ninversor.Desconocido10=msg.payload.Data[58];\ninversor.Desconocido11=msg.payload.Data[59];\ninversor.Desconocido12=msg.payload.Data[60];\ninversor.Desconocido13=msg.payload.Data[61];\ninversor.Desconocido14_Valor=msg.payload.Data[62];\ninversor.Desconocido15=msg.payload.Data[63];\ninversor.Desconocido16=msg.payload.Data[64];\ninversor.Desconocido17=msg.payload.Data[65];\ninversor.Desconocido17=msg.payload.Data[66];\ninversor.Desconocido19_Valor=msg.payload.Data[67];\n\n\nmsg.payload=inversor;\nreturn msg;","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":40,"wires":[["cf58a362.488bc","3519e824.004cc8"],[]]},{"id":"5c672a.c95658d8","type":"inject","z":"f6f2187d.f17ca8","name":"","props":[{"p":"payload"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":80,"wires":[["142a9dd4.aecbc2"]]},{"id":"bf5182bc.a9b25","type":"yaml","z":"f6f2187d.f17ca8","property":"payload","name":"","x":510,"y":80,"wires":[["b53bf667.647cc8","e66330d2.a6e6c"]]},{"id":"e66330d2.a6e6c","type":"debug","z":"f6f2187d.f17ca8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":140,"wires":[]},{"id":"3519e824.004cc8","type":"influxdb out","z":"f6f2187d.f17ca8","influxdb":"360b2edc.78f722","name":"Conexion InfluxDB 2.0","measurement":"SolaxPowerSU5000E","precision":"","retentionPolicy":"","database":"SolaxPowerInfluxDB","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"Torrijos","bucket":"SolaxPower","x":1040,"y":40,"wires":[]},{"id":"5bd773a0.569a1c","type":"inject","z":"baa1fb77.246f48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"togle","v":"","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":120,"wires":[["cd1340d8.0b473"]]},{"id":"f1d40ed6.cd68b","type":"debug","z":"baa1fb77.246f48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":120,"wires":[]},{"id":"38747929.8b50e6","type":"inject","z":"4e0c3d56.b21ee4","name":"","props":[{"p":"payload"}],"repeat":"180","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":160,"wires":[["545a2b05.16b044"]]},{"id":"537fd772.d449b8","type":"debug","z":"4e0c3d56.b21ee4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1150,"y":160,"wires":[]},{"id":"8510125b.55483","type":"http request","z":"4e0c3d56.b21ee4","name":"API Histórico","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://192.168.1.5/api/historyData.html","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":160,"wires":[["c9e28631.87cd28","537fd772.d449b8"]]},{"id":"c9e28631.87cd28","type":"function","z":"4e0c3d56.b21ee4","name":"Conversión Datos Historicos","func":"historial={};\nhistorial.ProduccionHoy=msg.payload[0];\nhistorial.ProduccionAyer=msg.payload[1];\nhistorial.ProduccionMes=msg.payload[2];\nhistorial.ProduccionUltimoMes=msg.payload[3];\nhistorial.ProduccionTotal=msg.payload[4];\nhistorial.ProduccionBateriaHoy=msg.payload[5];\nhistorial.ProduccionBateriaAyer=msg.payload[6];\nhistorial.ProduccionBateriaMes=msg.payload[7];\nhistorial.ProduccionBateriaUltimoMes=msg.payload[8];\nhistorial.ProduccionBateriaTotal=msg.payload[9];\nhistorial.AhorroFactura=msg.payload[4]*0.18;\n\nmsg.payload=historial;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":80,"wires":[["c1dc8e1f.7413e"]]},{"id":"c1dc8e1f.7413e","type":"influxdb out","z":"4e0c3d56.b21ee4","influxdb":null,"name":"Conexion DDBB","measurement":"SolaxPowerHistorial","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"Torrijos","bucket":"SolaxPowerHistorial","x":1160,"y":100,"wires":[]},{"id":"545a2b05.16b044","type":"json","z":"4e0c3d56.b21ee4","name":"","property":"payload","action":"str","pretty":true,"x":310,"y":160,"wires":[["8510125b.55483"]]},{"id":"cd1340d8.0b473","type":"ewelink-devices","z":"baa1fb77.246f48","name":"Account Ewelink","auth":"9db81944.77e738","x":400,"y":120,"wires":[["f1d40ed6.cd68b","8b87c85b.c03808","49b200a9.80a3b","5564cacb.fd79d4","ee545bac.7ee078","3c7f0137.f5949e","969425c7.1ba938"]]},{"id":"dcb36d6e.f81b9","type":"influxdb out","z":"baa1fb77.246f48","influxdb":"360b2edc.78f722","name":"Conexión InfluxDB","measurement":"eWelinkDevices","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"Torrijos","bucket":"eWeLink","x":1170,"y":200,"wires":[]},{"id":"8b87c85b.c03808","type":"function","z":"baa1fb77.246f48","name":"Conversión Datos","func":"ewelink={}\n\n//Dispositivo ID: 1000423f00 (Frigorifico LG)\newelink.Frigorifico_LG_Estado=msg.payload[0].params.sledOnline;\newelink.Frigorifico_LG_Potencia=msg.payload[0].params.power;\newelink.Frigorifico_LG_Voltaje=msg.payload[0].params.voltage;\newelink.Frigorifico_LG_SeñalWifi=msg.payload[0].params.rssi;\newelink.Frigorifico_LG_Firmware=msg.payload[0].params.fwVersion;\n    \n//Dispositivo ID: 100042400e (Frigorifico Lynx)\newelink.Frigorifico_Lynx_Estado=msg.payload[1].params.sledOnline;\newelink.Frigorifico_Lynx_Potencia=msg.payload[1].params.power;\newelink.Frigorifico_Lynx_Voltaje=msg.payload[1].params.voltage;\newelink.Frigorifico_Lynx_SeñalWifi=msg.payload[1].params.rssi;\newelink.Frigorifico_Lynx_Firmware=msg.payload[1].params.fwVersion;\n\n//Dispositivo ID: 1000423f34 (Caldera Gas)\newelink.Caldera_Gas_Estado=msg.payload[2].params.sledOnline;\newelink.Caldera_Gas_Potencia=msg.payload[2].params.power;\newelink.Caldera_Gas_Voltaje=msg.payload[2].params.voltage;\newelink.Caldera_Gas_SeñalWifi=msg.payload[2].params.rssi;\newelink.Caldera_Gas_Firmware=msg.payload[2].params.fwVersion;\n\n//Dispositivo ID: 100042431f (NAS QNAP)\newelink.NAS_Estado=msg.payload[3].params.sledOnline;\newelink.NAS_Potencia=msg.payload[3].params.power;\newelink.NAS_Voltaje=msg.payload[3].params.voltage;\newelink.NAS_SeñalWifi=msg.payload[3].params.rssi;\newelink.NAS_Firmware=msg.payload[3].params.fwVersion;\n\n//Dispositivo ID: 1000424144 (Frigorifico Samsung)\newelink.Frigorifico_Samsung_Estado=msg.payload[4].params.sledOnline;\newelink.Frigorifico_Samsung_Potencia=msg.payload[4].params.power;\newelink.Frigorifico_samsung_Voltaje=msg.payload[4].params.voltage;\newelink.Frigorifico_Samsung_SeñalWifi=msg.payload[4].params.rssi;\newelink.Frigorifico_Samsung_Firmware=msg.payload[4].params.fwVersion;\n\n\nmsg.payload=ewelink;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":180,"wires":[["dcb36d6e.f81b9","aded7b88.23e838"]]},{"id":"cfebdca7.6c8e5","type":"ui_gauge","z":"e7381735.2007b8","name":"","group":"1890881e.83819","order":1,"width":"3","height":"2","gtype":"gage","title":"CPU Temperatura","label":"","format":"{{value}}ยบ","min":"25","max":"90","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"65","x":590,"y":20,"wires":[]},{"id":"9ec34923.919368","type":"ui_gauge","z":"e7381735.2007b8","name":"","group":"1890881e.83819","order":1,"width":"3","height":"2","gtype":"gage","title":"CPU Uso","label":"","format":"{{value}}%","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"40","seg2":"65","x":600,"y":140,"wires":[]},{"id":"18e0c42c.d7cbac","type":"ui_gauge","z":"e7381735.2007b8","name":"","group":"1890881e.83819","order":1,"width":"3","height":"2","gtype":"gage","title":"HDD Uso","label":"","format":"{{value}}%","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"70","seg2":"90","x":600,"y":200,"wires":[]},{"id":"2929f5cf.93eeaa","type":"ui_gauge","z":"e7381735.2007b8","name":"","group":"1890881e.83819","order":1,"width":"3","height":"2","gtype":"gage","title":"RAM","label":"","format":"{{value | number: 0}}%","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"70","seg2":"90","x":590,"y":260,"wires":[]},{"id":"15b9f17f.cc001f","type":"debug","z":"e7381735.2007b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":340,"wires":[]},{"id":"f9ac84ca.1a0768","type":"ui_switch","z":"e7381735.2007b8","name":"","label":"switch","tooltip":"","group":"1890881e.83819","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":570,"y":80,"wires":[[]]},{"id":"3bd877c5.78fb78","type":"join","z":"e7381735.2007b8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":350,"y":320,"wires":[["15b9f17f.cc001f","4e09e1c2.3f1df"]]},{"id":"4e09e1c2.3f1df","type":"influxdb out","z":"e7381735.2007b8","influxdb":"","name":"Raspberry","measurement":"raspberry_control","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":560,"y":440,"wires":[]},{"id":"8101bd60.5bc2d","type":"mqtt in","z":"e7381735.2007b8","name":"","topic":"/raspberry/#","qos":"2","datatype":"auto","broker":"34d9231c.b4396c","nl":false,"rap":true,"rh":0,"x":110,"y":40,"wires":[["fc82812e.9d30b"]]},{"id":"fc82812e.9d30b","type":"function","z":"e7381735.2007b8","name":"","func":"if (msg.topic==\"/raspberry/temperatura\"){\n msg.payload=parseFloat(msg.payload.substr(5).slice(0,-2));\n}\nif (msg.topic==\"/raspberry/problema_voltaje\"){\n msg.payload=parseInt(msg.payload.substr(-1));\n \n}\nif (msg.topic==\"/raspberry/cpu\"){\n msg.payload=parseFloat(msg.payload);\n \n}\nif (msg.topic==\"/raspberry/disco\"){\n msg.payload=parseFloat(msg.payload);\n \n}\nif (msg.topic==\"/raspberry/ram\"){\n msg.payload=parseFloat(msg.payload);\n \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":160,"wires":[["5f5b7e81.7158b","3bd877c5.78fb78"]]},{"id":"5f5b7e81.7158b","type":"switch","z":"e7381735.2007b8","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"/raspberry/temperatura","vt":"str"},{"t":"eq","v":"/raspberry/problema_voltaje ","vt":"str"},{"t":"eq","v":"/raspberry/cpu","vt":"str"},{"t":"eq","v":"/raspberry/disco","vt":"str"},{"t":"eq","v":"/raspberry/ram","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":340,"y":160,"wires":[["cfebdca7.6c8e5"],["f9ac84ca.1a0768"],["9ec34923.919368"],["18e0c42c.d7cbac"],["2929f5cf.93eeaa"]]},{"id":"ae865d27.b8ad4","type":"comment","z":"d242966d.d06cb8","name":"Conexión a Wibeee XML","info":"IP: 192.168.1.10","x":200,"y":60,"wires":[]},{"id":"57823911.4b7168","type":"http request","z":"d242966d.d06cb8","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.168.1.3/services/user/devices.xml","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":180,"wires":[["3fdc62b3.5a945e"]]},{"id":"5283e8f5.dfdf38","type":"inject","z":"d242966d.d06cb8","name":"Dispositivo","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":180,"wires":[["57823911.4b7168"]]},{"id":"7c7b3d95.dbfbb4","type":"debug","z":"d242966d.d06cb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":180,"wires":[]},{"id":"f1486400.d0adb8","type":"http request","z":"d242966d.d06cb8","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.168.1.3/en/status.xml","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":240,"wires":[["a730fd2.f9ef4"]]},{"id":"f9692a37.343b28","type":"inject","z":"d242966d.d06cb8","name":"Datos","props":[{"p":"payload"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":240,"wires":[["f1486400.d0adb8"]]},{"id":"18ecc022.8227b","type":"debug","z":"d242966d.d06cb8","name":"","active":true,"tosidebar":false,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":240,"wires":[]},{"id":"3fdc62b3.5a945e","type":"xml","z":"d242966d.d06cb8","name":"","property":"payload","attr":"","chr":"","x":550,"y":180,"wires":[["7c7b3d95.dbfbb4"]]},{"id":"a730fd2.f9ef4","type":"xml","z":"d242966d.d06cb8","name":"","property":"payload","attr":"","chr":"","x":550,"y":240,"wires":[["18ecc022.8227b","c2e0457c.bca8c8","4f4c1632.300f28","18a2bd98.3fc782","7d59e87e.001c78","6816af14.b953d","d33433a7.c17c","ed58ad14.d22c2","70904189.c631f"]]},{"id":"c2e0457c.bca8c8","type":"change","z":"d242966d.d06cb8","name":"vrms1","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload.values.variable[18].id[0]","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.values.variable[18].value[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":340,"wires":[["a4a44e87.f06b1","52dd5452.2b70fc"]]},{"id":"4f4c1632.300f28","type":"change","z":"d242966d.d06cb8","name":"irms1","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload.values.variable[19].id[0]","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.values.variable[19].value[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":380,"wires":[["a4a44e87.f06b1","52dd5452.2b70fc"]]},{"id":"18a2bd98.3fc782","type":"change","z":"d242966d.d06cb8","name":"pap1","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload.values.variable[20].id[0]","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.values.variable[20].value[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":420,"wires":[["a4a44e87.f06b1","52dd5452.2b70fc"]]},{"id":"7d59e87e.001c78","type":"change","z":"d242966d.d06cb8","name":"pac1","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload.values.variable[21].id[0]","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.values.variable[21].value[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":460,"wires":[["a4a44e87.f06b1","52dd5452.2b70fc"]]},{"id":"6816af14.b953d","type":"change","z":"d242966d.d06cb8","name":"preac1","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload.values.variable[22].id[0]","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.values.variable[22].value[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":500,"wires":[["a4a44e87.f06b1","52dd5452.2b70fc"]]},{"id":"d33433a7.c17c","type":"change","z":"d242966d.d06cb8","name":"frec1","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload.values.variable[23].id[0]","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.values.variable[23].value[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":540,"wires":[["a4a44e87.f06b1","52dd5452.2b70fc"]]},{"id":"ed58ad14.d22c2","type":"change","z":"d242966d.d06cb8","name":"fpot1","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload.values.variable[24].id[0]","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.values.variable[24].value[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":580,"wires":[["a4a44e87.f06b1","52dd5452.2b70fc"]]},{"id":"a4a44e87.f06b1","type":"mqtt out","z":"d242966d.d06cb8","d":true,"name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"760437d5.268b98","x":990,"y":520,"wires":[]},{"id":"52dd5452.2b70fc","type":"influxdb out","z":"d242966d.d06cb8","influxdb":null,"name":"Conexión BBDD","measurement":"Wibeee1","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"Torrijos","bucket":"Wibeee1","x":1010,"y":400,"wires":[]},{"id":"70904189.c631f","type":"function","z":"d242966d.d06cb8","name":"","func":"# -*- coding: utf-8 -*-\n\n# --------------------------------------------------------------------------- #\n# Uso de WiBeee como sistema de recolección de datos de circuitos electricos mediante modbus\n# Tarea programada en Raspberry Pi mediante cron cada 1 minuto\n# Guarda datos en BBDD MySQL llamada WiBeee en Raspberry Pi\n#\n# Ficha Técnica: http://circutor.es/docs/FT_Wi-Beee_SP.pdf\n# Manual: http://docs.circutor.com/docs/M064B01-01.pdf\n#\n# ¡¡IMPORTANTE!! Modbus Map cambia en la versión 4.4.70, por lo que los scripts deben tenerlo en cuenta.\n# Ver directorio docs con los Modbus Maps\n# ModBUS TCP Specification v7 for Wibeee family\n# From v3.X.570 firmware version\n# From v4.4.480 / v5.4.480 firmware version\n#\n# Parámetros wibeee monofásico (11 parámetros):\n# V1 - Tensión fase L1, I1 - Corriente L1, frec1 - Frecuencia L1, frect - Frecuencia Total\n# pac1 - Potencia Activa L1, preac1 - Potencia Reactiva L1, pap1 - Potencia Aparente L1,\n# fp1 - Factor de potencia L1,\n# eac1- Energía activa L1, ereacind1 - Energía reactiva inductiva L1, ereaccap1 - Energía reactiva capacitiva L1\n# --------------------------------------------------------------------------- # \n\n# --------------------------------------------------------------------------- # \n# configure the client logging for debug purposes\n# --------------------------------------------------------------------------- # \nimport logging\nlogging.basicConfig()\nlog = logging.getLogger()\n#log.setLevel(logging.DEBUG)\n\n# --------------------------------------------------------------------------- # \n# configure BBDD\n# instalar como administrador: pip install mysql-connector-python\n# --------------------------------------------------------------------------- # \nimport mysql.connector as my_dbapi\n\n# --------------------------------------------------------------------------- # \n# Instalar pymodbus: pip install pymodbus\n# get data from modbus\n# --------------------------------------------------------------------------- #\nfrom pymodbus.client.sync import ModbusTcpClient\n\n#para conversion de varios bytes en entero de los valores de modbus\nimport struct\n\n# pueden añadirse tantos wibeee como se quiera\nmonitores_energia = {'consumo casa':{'ip':'192.168.1.3','V3':0,'I1':0,'frec1':0,'frect':0,\n\t'pac1':0,'preac1':0,'pap1':0,'fp1':0,'eac1':0,'ereacind1':0,'ereaccap1':0}}\n\t\nmodbus_registers = {'V1':0x00,'I1':0x03,'frec1':0x06,'frect':0x09,\n\t'pac1':0x0a,'preac1':0x0e,'pap1':0x12,'fp1':0x16,'eac1':0x1a,'ereacind1':0x22,'ereaccap1':0x2a}\n    \n#version dos del modbus mapping a partir de la versión 4.4.70\nmodbus_registers_V2 = {'V1':0x3a,'I1':0x30,'frec1':0x3e,'frect':0x41,\n\t'pac1':0x00,'preac1':0x08,'pap1':0x10,'fp1':0x42,'eac1':0x18,'ereacind1':0x20,'ereaccap1':0x28}\n\n#los valores de energía usan dos valores y el resto uno\nmodbus_len = {'V1':1,'I1':1,'frec1':1,'frect':1,\n\t'pac1':1,'preac1':1,'pap1':1,'fp1':1,'eac1':2,'ereacind1':2,'ereaccap1':2}\n\n#version dos del modbus mapping a partir de la versión 4.4.70\nmodbus_len_V2 = {'V1':1,'I1':2,'frec1':1,'frect':1,\n\t'pac1':2,'preac1':2,'pap1':2,'fp1':1,'eac1':2,'ereacind1':2,'ereaccap1':2}\n\n#potencias en kW, kVar y kVA y energías en kWh, kVarh\nmodbus_multiplicador = {'V1':10,'I1':10,'frec1':10,'frect':10,'pac1':100,'preac1':100,\n\t'pap1':100,'fp1':100,'eac1':1,'ereacind1':1,'ereaccap1':1}\n\n#version dos del modbus mapping a partir de la versión 4.4.70    \nmodbus_multiplicador_V2 = {'V1':100,'I1':100,'frec1':100,'frect':100,'pac1':1000,'preac1':1000,\n\t'pap1':1000,'fp1':100,'eac1':100,'ereacind1':100,'ereaccap1':100}\n\n# Consulta monitores modelo\nfor monitor in monitores_energia:\n    try: \n        client = ModbusTcpClient(monitores_energia[monitor]['ip'], port=502, timeout=10)\n        client.connect()\n        log.debug(\"Reading Registers\")\n        for medida, registro in modbus_registers.items():\n            read = client.read_holding_registers(registro, modbus_len[medida])\n            if modbus_len[medida] == 2:\n                dato = struct.pack(\"<H\",read.registers[0]) #primer registro \n                dato2 = struct.pack(\"<H\",read.registers[1]) #segundo registro\n                valor = struct.unpack(\"<i\",dato+dato2) #al estar en little endian van en el orden\n                #print(valor[0])\n                monitores_energia[monitor][medida] = valor[0]/modbus_multiplicador[medida]\n            else:\n                dato = struct.pack(\"<H\",read.registers[0]) #primer registro\n                valor = struct.unpack(\"<h\",dato)\n                monitores_energia[monitor][medida] = valor[0]/modbus_multiplicador[medida]\n            print(monitor + \"--> \" + medida + \" : \" + str(monitores_energia[monitor][medida]))\n        client.close()\n    except:\n        print(\"Error en monitor \" + monitor)\n\n# --------------------------------------------------------------------------- # \n# BBDD wibeee\n# Tablas: una tabla con el nombre del monitor por cada wibeee\n#\n# Crear tabla:\n# ¿poner SQL de creación de la tabla por cada wibeee?\n# --------------------------------------------------------------------------- # \n\ncnx_my = my_dbapi.connect(user='user', password='user', host='localhost', database='WiBeee')\ncursor_my = cnx_my.cursor()\n\nfor monitor in monitores_energia:\n        query_my = \"INSERT INTO \" + monitor + \" (V1,I1,frec1,frect,pac1,preac1,pap1,fp1,eac1,ereacind1,ereaccap1) VALUES ('\" +\\\n        str(monitores_energia[monitor]['V1']) + \",\" + str(monitores_energia[monitor]['I1']) + \",\" + str(monitores_energia[monitor]['frec1']) + \",\" +\\\n        str(monitores_energia[monitor]['frect']) + \",\" + str(monitores_energia[monitor]['pac1']) + \",\" + str(monitores_energia[monitor]['preac1']) + \",\" +\\\n        str(monitores_energia[monitor]['pap1']) + \",\" + str(monitores_energia[monitor]['fp1']) + \",\" + str(monitores_energia[monitor]['eac1']) + \",\" +\\\n        str(monitores_energia[monitor]['ereacind1']) + \",\" + str(monitores_energia[monitor]['ereaccap1']) + \")\"\n        cursor_my.execute(query_my)\n        cnx_my.commit()\n\ncnx_my.close()","outputs":1,"noerr":51,"initialize":"","finalize":"","libs":[],"x":800,"y":300,"wires":[["52dd5452.2b70fc"]]},{"id":"4a1bcf4d.5b955","type":"inject","z":"12dc5703.e00ac9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":60,"wires":[["1c4b4f52.6f8dc1"]]},{"id":"1c4b4f52.6f8dc1","type":"http request","z":"12dc5703.e00ac9","name":"Wibeee Contador","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.168.1.3/en/status.xml","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":60,"wires":[["43b71a24.5e1824"]]},{"id":"b58da9a7.653048","type":"debug","z":"12dc5703.e00ac9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":60,"wires":[]},{"id":"43b71a24.5e1824","type":"xml","z":"12dc5703.e00ac9","name":"","property":"payload","attr":"","chr":"","x":510,"y":60,"wires":[["b58da9a7.653048","8a5b7611.b5a018"]]},{"id":"d003c7dd.bcf708","type":"influxdb out","z":"12dc5703.e00ac9","influxdb":"360b2edc.78f722","name":"Conexión BBDD","measurement":"Wibeee_Contador","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"Torrijos","bucket":"Wibeee","x":740,"y":280,"wires":[]},{"id":"bf9e702f.3757b","type":"inject","z":"18ef1807.2380f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":120,"wires":[["3a9d19f9.d8e0c6"]]},{"id":"3a9d19f9.d8e0c6","type":"http request","z":"18ef1807.2380f8","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.esios.ree.es/archives/70/download_json?locale=es","tls":"","persist":true,"proxy":"","authType":"","x":330,"y":120,"wires":[["62ac96b2.901338","5b8f8bc7.ce79b4"]]},{"id":"1a37f18d.8e726e","type":"debug","z":"18ef1807.2380f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":220,"wires":[]},{"id":"62ac96b2.901338","type":"function","z":"18ef1807.2380f8","name":"Calcular precios actuales","func":"var fecha=new Date();\n\nvar hora_actual= fecha.getHours();\n\nprecios_pvpc={\n    PVPC20: parseFloat(msg.payload.PVPC[hora_actual].PCB.replace(',', '.'))/1000,\n    CCVPCB: parseFloat(msg.payload.PVPC[hora_actual].CCVPCB.replace(',', '.'))/1000,\n    PMHPCB: parseFloat(msg.payload.PVPC[hora_actual].PMHPCB.replace(',', '.'))/1000,\n    GENERADO: 0.08\n}\n\nmsg.payload=precios_pvpc;\nglobal.set(\"Energia_PVPC\", precios_pvpc)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":200,"wires":[["c9cb9e1c.b8d3d","1a37f18d.8e726e"]]},{"id":"c9cb9e1c.b8d3d","type":"influxdb out","z":"18ef1807.2380f8","influxdb":"360b2edc.78f722","name":"Conexión InfluxDB","measurement":"RedOS_Calculadora","precision":"","retentionPolicy":"","database":"redOS","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"Torrijos","bucket":"redOS","x":850,"y":320,"wires":[]},{"id":"ee473b94.79c3a8","type":"function","z":"18ef1807.2380f8","d":true,"name":"Obten Excedente e Importado","func":"var excedente;\nvar importada;\nvar debug = false;\n\nif(msg.payload<0){\n\texcedente=msg.payload*(-1);\n\timportada=0;\n}\nelse{\n     importada=parseInt(msg.payload);\n     excedente=0;\n}\n\nglobal.set(\"Energia_Disponible\",importada);\nEnergia_PVPC=global.get(\"Energia_PVPC\")\n\nvar dt = new Date();\nvar horas = dt.getHours();\nvar tz = dt.getTimezoneOffset()/60*(-1);\n\nif(debug){\n\tnode.warn(\"TZ=\" + tz);\n\tnode.warn(\"horas=\" + horas);\n}\n\nif(tz==2){\n\t//summer\n\tverano = true;\n\t$hora_inicio_p1=13;\n\t$hora_inicio_p2=23;\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":340,"wires":[[]]},{"id":"951b5a64.1b9e18","type":"inject","z":"f6f2187d.f17ca8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"15","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":420,"wires":[["6a9110e9.8b012"]]},{"id":"8bf08cc5.ff005","type":"debug","z":"f6f2187d.f17ca8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":420,"wires":[]},{"id":"6a9110e9.8b012","type":"http request","z":"f6f2187d.f17ca8","name":"API Histórico","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.168.1.5/api/historyData.html","tls":"","persist":true,"proxy":"","authType":"","x":310,"y":420,"wires":[["5b2ee7ae.bd6db8","3b75feea.cdd482"]]},{"id":"fc6b5e3a.18fa1","type":"function","z":"f6f2187d.f17ca8","name":"Conversión Datos Historicos","func":"historial={};\nhistorial.ProduccionHoy=msg.payload[0];\nhistorial.ProduccionAyer=msg.payload[1];\nhistorial.ProduccionMes=msg.payload[2];\nhistorial.ProduccionUltimoMes=msg.payload[3];\nhistorial.ProduccionTotal=msg.payload[4];\nhistorial.ProduccionBateriaHoy=msg.payload[5];\nhistorial.ProduccionBateriaAyer=msg.payload[6];\nhistorial.ProduccionBateriaMes=msg.payload[7];\nhistorial.ProduccionBateriaUltimoMes=msg.payload[8];\nhistorial.ProduccionBateriaTotal=msg.payload[9];\nhistorial.AhorroFactura=msg.payload[4]*0.18;\n\n\nmsg.payload=historial;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":320,"wires":[["7049b1cd.f71f"]]},{"id":"7049b1cd.f71f","type":"influxdb out","z":"f6f2187d.f17ca8","influxdb":"360b2edc.78f722","name":"Conexion DDBB","measurement":"SolaxPower_Historial","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"Torrijos","bucket":"SolaxPowerHistorial","x":1020,"y":320,"wires":[]},{"id":"5b2ee7ae.bd6db8","type":"json","z":"f6f2187d.f17ca8","name":"","property":"payload","action":"obj","pretty":true,"x":490,"y":420,"wires":[["fc6b5e3a.18fa1","8bf08cc5.ff005"]]},{"id":"fce1327c.c3895","type":"debug","z":"12dc5703.e00ac9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":160,"wires":[]},{"id":"8a5b7611.b5a018","type":"json","z":"12dc5703.e00ac9","name":"","property":"payload","action":"obj","pretty":true,"x":510,"y":160,"wires":[["fce1327c.c3895","86a843fa.6e73c"]]},{"id":"c86edb90.8f9018","type":"debug","z":"12dc5703.e00ac9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":340,"wires":[]},{"id":"86a843fa.6e73c","type":"function","z":"12dc5703.e00ac9","name":"","func":"wibeeecontador={};\nwibeeecontador.VOLTAJE=msg.payload.response.fase1_vrms[0];\nwibeeecontador.INTENSIDAD=msg.payload.response.fase1_irms[0];\nwibeeecontador.POTENCIA_APARENTE=msg.payload.response.fase1_p_aparent[0];\nwibeeecontador.POTENCIA_ACTIVA=msg.payload.response.fase1_p_activa[0];\nwibeeecontador.POTENCIA_REACTIVA_INDUCTIVA=msg.payload.response.fase1_p_reactiva_ind[0];\nwibeeecontador.POTENCIA_REACTIVA_CAPACITIVA=msg.payload.response.fase1_p_reactiva_cap[0];\nwibeeecontador.FRECUENCIA=msg.payload.response.fase1_frecuencia[0];\nwibeeecontador.FACTOR_POTENCIA=msg.payload.response.fase1_factor_potencia[0];\nwibeeecontador.ENERGIA_ACTIVA=msg.payload.response.fase1_energia_activa[0];\nwibeeecontador.ENERGIA_REACTIVA_INDUCTIVA=msg.payload.response.fase1_energia_reactiva_ind[0]*0.001;\nwibeeecontador.ENERGIA_REACTIVA_CAPACITIVA=msg.payload.response.fase1_energia_reactiva_cap[0];\n\nmsg.payload=wibeeecontador;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":280,"wires":[["c86edb90.8f9018","d003c7dd.bcf708"]]},{"id":"5b8f8bc7.ce79b4","type":"debug","z":"18ef1807.2380f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":120,"wires":[]},{"id":"21fcd0a6.5ad8e","type":"function","z":"18ef1807.2380f8","d":true,"name":"Calcular precios actuales","func":"var fecha=new Date();\n\nvar hora_actual=fecha.getHours()\n\nprecios_pvpc={\n    pvpc: parseFloat(msg.payload.PVPC[hora_actual].PCB.replace(',', '.'))/1000,\n    ccvpcb: parseFloat(msg.payload.PVPC[hora_actual].CCVPCB.replace(',', '.'))/1000\n}\npayload.PVPC[0].PCB\n\nmsg.payload=precios_pvpc;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":80,"wires":[[]]},{"id":"aded7b88.23e838","type":"debug","z":"baa1fb77.246f48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1150,"y":260,"wires":[]},{"id":"3b75feea.cdd482","type":"debug","z":"f6f2187d.f17ca8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":280,"wires":[]},{"id":"c2f9f3fa.63474","type":"inject","z":"eda76953.1caac8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":100,"wires":[["fb2d0547.99bfe8"]]},{"id":"7f0af932.7fe4b8","type":"debug","z":"eda76953.1caac8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":100,"wires":[]},{"id":"5564cacb.fd79d4","type":"ewelink-power-usage","z":"baa1fb77.246f48","name":"Frigorífico LG","deviceId":"1000423f00","auth":"9db81944.77e738","x":640,"y":340,"wires":[["8b87c85b.c03808"]]},{"id":"ee545bac.7ee078","type":"ewelink-power-usage","z":"baa1fb77.246f48","name":"Frigorífico Lynx","deviceId":"100042400e","auth":"9db81944.77e738","x":640,"y":440,"wires":[["8b87c85b.c03808"]]},{"id":"49b200a9.80a3b","type":"ewelink-power-usage","z":"baa1fb77.246f48","name":"Caldera Gás","deviceId":"1000423f34","auth":"9db81944.77e738","x":630,"y":240,"wires":[["8b87c85b.c03808"]]},{"id":"3c7f0137.f5949e","type":"ewelink-power-usage","z":"baa1fb77.246f48","name":"NAS QNAP","deviceId":"100042431f","auth":"9db81944.77e738","x":630,"y":520,"wires":[["8b87c85b.c03808"]]},{"id":"969425c7.1ba938","type":"ewelink-power-usage","z":"baa1fb77.246f48","name":"Frigorífico Samsung","deviceId":"1000424144","auth":"9db81944.77e738","x":660,"y":600,"wires":[["8b87c85b.c03808"]]},{"id":"32816ad3.4f20d6","type":"inject","z":"baa1fb77.246f48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":800,"wires":[["32ce9841.d43378"]]},{"id":"32ce9841.d43378","type":"ewelink-power-state-write","z":"baa1fb77.246f48","d":true,"name":"","deviceId":"","channel":1,"auth":"9db81944.77e738","x":400,"y":800,"wires":[["773c4726.fb9f78"]]},{"id":"773c4726.fb9f78","type":"debug","z":"baa1fb77.246f48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":800,"wires":[]},{"id":"fb2d0547.99bfe8","type":"http request","z":"eda76953.1caac8","name":"Wibeee Vivienda","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.168.1.4/en/status.xml","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":100,"wires":[["f8320d44.e38c4"]]},{"id":"f8320d44.e38c4","type":"xml","z":"eda76953.1caac8","name":"","property":"payload","attr":"","chr":"","x":570,"y":100,"wires":[["7f0af932.7fe4b8","f1fcb92e.3e0f68"]]},{"id":"91c884c2.05cd58","type":"function","z":"eda76953.1caac8","name":"","func":"wibeee={};\n\nwibeee.WebVersion=msg.payload.response.webversion[0];\nwibeee.Voltaje=msg.payload.response.fase1_vrms[0];\nwibeee.Intensidad=msg.payload.response.fase1_irms[0];\nwibeee.Potencia_Aparente=msg.payload.response.fase1_p_aparent[0];\nwibeee.Potencia_Activa=msg.payload.response.fase1_p_activa[0];\nwibeee.Frecuencia=msg.payload.response.fase1_frecuencia[0];\nwibeee.Factor_Potencia=msg.payload.response.fase1_factor_potencia[0];\nwibeee.Energia_Activa=msg.payload.response.fase1_energia_activa[0]*0.001;\nwibeee.Energia_Reactiva_Inductiva=msg.payload.response.fase1_energia_reactiva_ind[0]*0.001;\n\nmsg.payload=wibeee;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":260,"wires":[["2484d53a.f0497a","af0f6d21.98d6b"]]},{"id":"2484d53a.f0497a","type":"debug","z":"eda76953.1caac8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":260,"wires":[]},{"id":"f1fcb92e.3e0f68","type":"json","z":"eda76953.1caac8","name":"","property":"payload","action":"obj","pretty":false,"x":580,"y":180,"wires":[["91c884c2.05cd58","36b6ff9c.75c34"]]},{"id":"af0f6d21.98d6b","type":"influxdb out","z":"eda76953.1caac8","influxdb":"360b2edc.78f722","name":"Conexión DB","measurement":"Wibeee_Vivenda","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"Torrijos","bucket":"Wibeee","x":780,"y":320,"wires":[]},{"id":"36b6ff9c.75c34","type":"debug","z":"eda76953.1caac8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":180,"wires":[]},{"id":"ac1c4972.ec56a8","type":"grafana","z":"5c4ff4b6.e624cc","name":"grafana","ID":"","URL":"","x":100,"y":200,"wires":[[]]}]
