Node-Red/flows.json
[{"id":"12dc5703.e00ac9","type":"tab","label":"Wibeee","disabled":false,"info":""},
 {"id":"4a1bcf4d.5b955","type":"inject","z":"xxxxxxxxxxxxx","name":"","props":
  [{"p":"payload"},{"p":"topic","vt":"str"}],
  "repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":60,"wires":
  [["1c4b4f52.6f8dc1"]]},
 {"id":"1c4b4f52.6f8dc1","type":"http request","z":"12dc5703.e00ac9","name":"Wibeee Contador","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://192.168.x.x/en/status.xml","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":60,"wires":
  [["43b71a24.5e1824"]]},{"id":"b58da9a7.xxxxxx","type":"debug","z":"12dc5703.xxxxx","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":60,"wires":[]},{"id":"43b71a24.5e1824","type":"xml","z":"12dc5703.e00ac9","name":"","property":"payload","attr":"","chr":"","x":510,"y":60,"wires":[["b58da9a7.653048","8a5b7611.b5a018"]]},{"id":"d003c7dd.bcf708","type":"influxdb out","z":"12dc5703.e00ac9","influxdb":"360b2edc.78f722","name":"Conexión BBDD","measurement":"Wibeee_Contador","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"Torrijos","bucket":"Wibeee","x":740,"y":280,"wires":[]},{"id":"fce1327c.c3895","type":"debug","z":"12dc5703.e00ac9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":160,"wires":[]},{"id":"8a5b7611.b5a018","type":"json","z":"12dc5703.e00ac9","name":"","property":"payload","action":"obj","pretty":true,"x":510,"y":160,"wires":[["fce1327c.c3895","86a843fa.6e73c"]]},{"id":"c86edb90.8f9018","type":"debug","z":"12dc5703.e00ac9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":340,"wires":[]},{"id":"86a843fa.6e73c","type":"function","z":"12dc5703.e00ac9","name":"","func":"wibeeecontador={};\nwibeeecontador.VOLTAJE=msg.payload.response.fase1_vrms[0];\nwibeeecontador.INTENSIDAD=msg.payload.response.fase1_irms[0];\nwibeeecontador.POTENCIA_APARENTE=msg.payload.response.fase1_p_aparent[0];\nwibeeecontador.POTENCIA_ACTIVA=msg.payload.response.fase1_p_activa[0];\nwibeeecontador.POTENCIA_REACTIVA_INDUCTIVA=msg.payload.response.fase1_p_reactiva_ind[0];\nwibeeecontador.POTENCIA_REACTIVA_CAPACITIVA=msg.payload.response.fase1_p_reactiva_cap[0];\nwibeeecontador.FRECUENCIA=msg.payload.response.fase1_frecuencia[0];\nwibeeecontador.FACTOR_POTENCIA=msg.payload.response.fase1_factor_potencia[0];\nwibeeecontador.ENERGIA_ACTIVA=msg.payload.response.fase1_energia_activa[0];\nwibeeecontador.ENERGIA_REACTIVA_INDUCTIVA=msg.payload.response.fase1_energia_reactiva_ind[0]*0.001;\nwibeeecontador.ENERGIA_REACTIVA_CAPACITIVA=msg.payload.response.fase1_energia_reactiva_cap[0];\n\nmsg.payload=wibeeecontador;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":280,"wires":[["c86edb90.8f9018","d003c7dd.bcf708"]]},{"id":"360b2edc.78f722","type":"influxdb","hostname":"192.168.1.104","port":"8086","protocol":"http","database":"SolaxPowerInfluxDB","name":"InfluxDB 2.0","usetls":false,"tls":"93f3824b.10fc","influxdbVersion":"2.0","url":"http://192.168.1.104:8086/","rejectUnauthorized":false},
 {"id":"93f3824b.10fc","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true}]
